<sly data-sly-use.helper="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.component="com.ibmix.adobe.aem.core.components.helloworld.HelloWorldComponent"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.showPlaceholder="${!component.text}"></sly>

<sly data-sly-test="${!showPlaceholder}">
  <aem-helloworld
      id="${helper.id}"
      title="${component.title}"
      text="${component.text}"
      updateapi="${component.updateApi}"
      message="${component.message}"
      users="${component.usersJson}">
  </aem-helloworld>
</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = showPlaceholder}"></sly>